<br/><br/>

<div class="container">
  <ul>
    <li> <a href="/main_page">Account</a> </li>
    <li> <a>Courses</a> </li>
    <li> <a href="/login_page" (click)="logout()">Logout</a> </li>
  </ul>
</div>

<div style="display:none" class="chart-timetable">
  <h1>Timetable (Week: {{firstDayOfWeek.getDate()}} - {{lastDayOfWeek.getDate()}})</h1>
  <google-chart (select)="onSelect($event)" [data]="timelineChartData"></google-chart>
</div>

<div>
  <h2>Your Courses List</h2>
  <table>
    <tr>
      <th>No</th>
      <th>Course</th>
      <th>Operation</th>
    </tr>
    <tr class="all-courses" *ngFor="let course of userCourses; let i = index">
      <td>{{i + 1}}</td>
      <td style="cursor: pointer" (click)="showAssignment(course)">{{course}}</td>
      <td><button mat-raised-button (click)="leaveCourse(course)">Leave Course</button></td>
    </tr>
  </table>
</div>

<br/>

<table style="display:none" class="table-student-assignment">
  <tr>
    <th>Assignment Date</th>
    <th>Course Name</th>
    <th>Teacher</th>
    <th>Assignment Type</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let assignment of assignmentList; let i = index">
    <td>{{assignment.date}}</td>
    <td>{{assignment.name}}</td>
    <td>{{assignment.teacher}}</td>
    <td>{{assignment.type}}</td>
    <td>{{assignment.description}}</td>
  </tr>
</table>


<div>
  <h2>All Courses List</h2>
  <table>
    <tr>
      <th>No</th>
      <th>Course</th>
    </tr>
    <tr *ngFor="let course of userCoursesNotFollowed; let i = index">
      <td>{{i + 1}}</td>
      <td style="cursor: pointer"(click)="showPasswordBox(course)" >{{course}}</td>
    </tr>
  </table>
</div>

<br/>
<div style="display:none" class="table-password-box">
  <table style="display:block">
      <b>Type the course's password in orer to join the group</b>
    <tr>
      <td>{{courseNameSelected}}</td>
      <td><input type="text" [(ngModel)]="coursePassword"></td>
      <td><button mat-raised-button (click)="joinCourse(courseNameSelected)">Join</button></td>
    </tr>
  </table>
</div>

